<h2> Welcome to Pizza Shop! </h2>

<div class="row">



  <% @products.each do |p|%>
    <div class="col-md-3">
      <%= p.title %>
    <br/>
      <img src="<%= p.path_to_image %>">
      <br/>
      <%= p.description %>
      <br/>
      <%= p.price %> rub
      <br/>
      <%= p.size %> sm



    </div>
    <% end %>

</div>





